
.form-control{
	font-size: 20px;
	height:60px;
}
.form-check-input{
    color: gray;
    border: 1px solid gray;
    border-radius: 5px!important;
}
.btn-custom{
    width: 100%;
    padding: 10px;
    font-size: 20px;
}